body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signout {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}
.form-signout .form-signout-heading,
.form-signout .checkbox {
    margin-bottom: 10px;
    text-align: center;
}
.form-signout .checkbox {
    font-weight: normal;
    text-align: left;
}
.form-signout .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 4px;
    font-size: 16px;
}
.form-signout .form-control:focus {
    z-index: 2;
}
.form-signout input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signout input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
